<!DOCTYPE html>
<html lang="zh-cn" data-minWidth="320" data-maxWidth="750" style="font-size:23px;">
<head>
    <meta charset="UTF-8">
    <meta name="wap-font-scale" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <meta content="" name="apple-mobile-web-app-title" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <title>弹窗插件</title>
    <link rel="stylesheet" href="css/dialog.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="lib/zepto.min.js"></script>
    <script src="js/example.js"></script>
</head>
<body>

    <button class="open-dialog-loading">加载</button>
    <button class="open-dialog-success">成功</button>
    <button class="open-dialog-fail">失败</button>

    
    <!-- <div class="dialog dialog-open  dialog-toast" data-style="android">
      <div class="dialog-overlay"></div>
      <div class="dialog-content">
        <div class="dialog-content-bd">
          <img class="info-icon" src="../images/icon/loading.gif">
          <span class="info-text">正在加载中</span></div>
      </div>
    </div> -->

    <!-- <div class="dialog dialog-open  dialog-toast" data-style="android">
      <div class="dialog-overlay"></div>
      <div class="dialog-content">
        <div class="dialog-content-bd">
          <img class="info-icon" src="../images/icon/success.png">
          <span class="info-text">操作成功</span></div>
      </div>
    </div> -->

    <!-- <div class="dialog dialog-open  dialog-toast" data-style="android">
      <div class="dialog-overlay"></div>
      <div class="dialog-content">
        <div class="dialog-content-bd">
          <img class="info-icon" src="../images/icon/fail.png">
          <span class="info-text">操作失败</span></div>
      </div>
    </div> -->

</body>